@{
	ViewData["Title"] = "Classroom";
	Layout = "_LayoutAdmin";
}

@section Scripts {
	<script src="~/js/admin/Classroom.js"></script>
}
<div class="dashboard-wrapper">

	<!-- Page title start -->
	<div class="page-title clearfix">
		<h2>
			Phòng học
		</h2>
		<ul class="stats hidden-xs">
			<li class="ruby-red-bg">
				<span class="fs1" aria-hidden="true" data-icon=""></span>
				<div class="details">
					<span class="big">Ireland</span>
					<span class="small">Current Location</span>
				</div>
			</li>
			<li class="light-grey-bg">
				<span class="fs1" aria-hidden="true" data-icon=""></span>
				<div class="details">
					<span class="big">$7589</span>
					<span class="small">Todays Sale</span>
				</div>
			</li>
		</ul>
	</div>
	<!-- Page title end -->
	<!-- Row start -->
	<div class="row" id="ClassroomRow">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						<span class="fs1" aria-hidden="true" data-icon=""></span> Phòng học
					</div>
				</div>
				<div class="widget-body">
					<div id="dt_example" class="example_alt_pagination">
						<div id="data-table_wrapper" class="dataTables_wrapper" role="grid">
							<div id="data-table_length" class="dataTables_length">
								<label>
									Show
									<select size="1" name="data-table_length" aria-controls="data-table">
										<option value="5" selected="selected">5</option>
										<option value="10">10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
									<button class="btn btn-outline-primary btn-sm" id="add">Thêm</button>
									<button class=" btn btn-outline-danger btn-sm" id="delete">Xóa</button>
								</label>
							</div><div class="dataTables_filter" id="data-table_filter"><label>Search: <input type="text" aria-controls="data-table"></label></div><table class="table table-condensed table-striped table-hover table-bordered pull-left dataTable" id="data-table" aria-describedby="data-table_info">
								<table class="table table-bordered table-hover" id="ClassroomTable">
									<thead class="thead-light">
										<tr>
											<th name="phongThiName">Tên phòng thi</th>
											<th name="computerNumber">Số lượng máy tính</th>
										</tr>
									</thead>
									<tbody class="table-striped">
									</tbody>
								</table>

							</table><div class="dataTables_info" id="data-table_info">Showing 1 to 5 of 16 entries</div><div class="dataTables_paginate paging_full_numbers" id="data-table_paginate"><a tabindex="0" class="first paginate_button paginate_button_disabled" id="data-table_first">First</a><a tabindex="0" class="previous paginate_button paginate_button_disabled" id="data-table_previous">Previous</a><span><a tabindex="0" class="paginate_active">1</a><a tabindex="0" class="paginate_button">2</a><a tabindex="0" class="paginate_button">3</a><a tabindex="0" class="paginate_button">4</a></span><a tabindex="0" class="next paginate_button" id="data-table_next">Next</a><a tabindex="0" class="last paginate_button" id="data-table_last">Last</a></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="ClassroomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Thêm môn thi</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Tên phòng thi</label>
						<input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nhập tên phòng thi" name="phongThiName">
					</div>
					<div class="form-group">
						<label>Số lượng máy tính</label>
						<input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nhập số lượng máy tính" name="computerNumber">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="save">Save changes</button>
				</div>
			</div>
		</div>
	</div>

</div>